<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <partial name="_Head" />
</head>

<body>
    <header>
        <section>
            <h1>@Html.ActionLink("", "")</h1>
        </section>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Veic_web_ASP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @RenderSection("Header", false)
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <!-- Main column -->
            <div class="col-md-9">
                <div>
                    @RenderSection("Breadcrumb", false)
                </div>
                @RenderBody()
            </div>
            <!-- Sidebar -->
            <div class="col-md-3">
                <partial name="_Sidebar" />
            </div>

        </div>
    </div>

    <footer class="border-top footer text-muted">
        <partial name="_Tail" />
    </footer>

</body>
</html>
