@{
    var displayName = "";
    var link = Context.Request.Path.Value;
    if (link.Contains("news"))
        displayName = "公司新闻";
    else
        displayName = "公司公告";
}

@section Breadcrumb {
    @await Component.InvokeAsync("Breadcrumb", displayName)
}

@model veic_web.Models.Wraps.PaginatedList<veic_web.Models.Article>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="View/@item.Id">@item.Title</a>
            @item.Pubdate.ToShortDateString()
        </li>
    }

</ul>


<div>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="?pageNumber=@(Model.PageIndex - 1)">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="?pageNumber=@(Model.PageIndex + 1)">Next</a></li>
    </ul>
</div>
