@{
    string prefixLink = Context.Request.Scheme + "://" + Context.Request.Host + "/";
}

@model IEnumerable<veic_web.Models.Wraps.NavMenuDto>
<ol class="breadcrumb">
    @foreach (var menu in Model)
    {
        <li class="breadcrumb-item"><a href="@prefixLink@menu.ParentLink">@menu.ParentName</a></li>
        <li class="breadcrumb-item"><a href="@prefixLink@menu.LinkAddr.Replace('-', '/')">@menu.Name</a></li>
    }
    <li class="breadcrumb-item active">
        body
    </li>
</ol>