@section Header {
    @await Component.InvokeAsync("NavigationMenu")
}

@section Breadcrumb {
    @await Component.InvokeAsync("Breadcrumb", "公司概况")
}

@model IEnumerable<Article>
<section>
    @foreach (var item in Model)
    {
        <div>
            <h4>@item.Title</h4>
            <p>@Html.Raw(@item.Body)</p>
        </div>
    }
</section>
